/* ------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #3498db;
  color: #fff;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------*/
/* REUSABLE COMPONENTS*/
/* ------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ------------------------------------*/
/* HEADINGS */
/* ------------------------------------*/

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------------------------------------*/
/* LINKS */
/* ------------------------------------*/
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------------------------------------*/
/* BUTTONS */
/* ------------------------------------*/

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #fff;
  border: 1px solid #fff;
  color: #2980b9;
  margin-right: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #2980b9;
  color: #fff;
}

/* ------------------------------------*/
/* HEADER */
/* ------------------------------------*/

header {
  background-image: linear-gradient(
      rgba(34, 95, 165, 0.7),
      rgba(34, 95, 165, 0.7)
    ),
    url(images/recycle-back.png);
  background-size: cover;
  background-position: left;
  height: 75vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100%;
  width: auto;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 200%;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 55px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #fff;
}

/* ------------------------------------*/
/* LEADERBOARD */
/* ------------------------------------*/
.section-leaderboard {
  background-color: rgba(34, 95, 165);
}

.steps-box {
  text-align: justify;
  padding-right: 3%;
  margin-top: 30px;
  font-size: 300%;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 200%;
  font-weight: 300;
  margin-right: 25px;
}

/* ------------------------------------*/
/* FORM*/
/* ------------------------------------*/

.contact-form {
  width: 85%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #196090;
  background-color: #196090;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ------------------------------------*/
/* FOOTER*/
/* ------------------------------------*/

footer {
  background-color: #fff;
  padding: 50px;
  font-size: 80%;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 10px;
}

#myprogressBar {
  width: 1%;
  height: 20px;
  background-color: #4caf50;
}
